p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}




.warning, .note, .tip, .important {
  border-left: 6px solid;
  padding: 12px 16px;
  margin: 16px 0;
  border-radius: 4px;
  background-color: #f8f9fa;
}



.warning {
  border-color: #e5533d;
  background-color: #fff3cd;
}



.warning::before {
  content: "⚠️ ";
  font-weight: bold;
  font-size: 1.2em;
  margin-right: 6px;
}

.note {
  border-color: #0d6efd;
  background-color: #e7f1ff;
}

.tip {
  border-color: #198754;
  background-color: #e6f4ea;
}

.important {
  border-color: #6f42c1;
  background-color: #f3e8ff;
}



.book-body::before {
  content: "Mag. Endy P. S.";
  position: fixed;
  top: 55%;
  left: 65%;
  transform: translate(-50%, -50%) rotate(-30deg);
  font-size: 80px;
  color: rgba(0, 0, 0, 0.04);
  z-index: 9999;
  pointer-events: none;
  white-space: nowrap;
}


